In [7]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [8]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [10]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_observations = session.query(Measurement.tobs).filter(Measurement.date.contains('-06-')).all()
june_observations[0:5]

[(78.0,), (76.0,), (78.0,), (76.0,), (77.0,)]

In [11]:
#  3. Convert the June temperatures to a list.
june_temps = [temp[0] for temp in june_observations]
june_temps[0:5]
type(june_temps)

list

In [12]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temps, columns=['June Temps'])
june_df.head()

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [13]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [14]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_observations = session.query(Measurement.tobs, Measurement.date).filter(Measurement.date.contains('-12-')).all()
dec_observations[0:5]

[(76.0, '2010-12-01'),
 (74.0, '2010-12-03'),
 (74.0, '2010-12-04'),
 (64.0, '2010-12-06'),
 (64.0, '2010-12-07')]

In [15]:
# 7. Convert the December temperatures to a list.
dec_temps = [temp[0] for temp in dec_observations]
dec_temps[0:5]
type(dec_temps)

list

In [16]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temps, columns=['December Temps'])
dec_df.head()

   December Temps
0            76.0
1            74.0
2            74.0
3            64.0
4            64.0

In [17]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [ ]:
# EXTRA ANALYSIS FOR README

In [18]:
# days in june that are higher than the average 
june_high = [i for i in june_df['June Temps'] if i > 75.00]
december_high = [i for i in dec_df['December Temps'] if i > 71.00]

In [19]:
len(june_high)

791

In [21]:
june_high_avg = session.query(Measurement.tobs).filter(Measurement.tobs > 75, Measurement.date.contains('-06-')).all()
dec_high_avg = session.query(Measurement.tobs).filter(Measurement.tobs > 71, Measurement.date.contains('-12-')).all()

In [22]:
round(len(june_high_avg) / len(june_df) * 100,2)
round(len(december_high_avg) / len(dec_df) * 100,2)

47.0